.admin-container {
    display: flex;
    .admin-sidebar {
        .pro-sidebar {
            height: 100vh !important;
            }
    }
    .admin-content{
        width: 100%;
        margin-bottom: 10px;
        .admin-header{
            height: 40px;
            border: 1px solid green;
        }
        .admin-main{
            height: calc(100vh - 50px);
            .user-pagination{
                display: flex;
                justify-content: center;
              }
        }
    }
    
}