.dashboard-container{
  padding: 15px;
  .title{
    font-size: 20px;
    font-weight: 600;
  }
  .content{
    display: flex;
    height: 300px;
    .c-left{
      width: 50%;
      border:1px solid green;
      display: flex;
      flex-wrap: wrap;
      .child{
        width: 50%;
        height: 150px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        
      }
    }
    .c-right{
      width: 50%;
      border:1px solid red;
    }
  }
}