body {
  padding:0px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (min-width: 1300px){
.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1300px !important;
}
}
.sidebar-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .sidebar-btn {
    transition: width 0.3s;
    width: 150px;
    padding: 1px 5px;
    border-radius: 40px;
    background: rgba(255, 255, 255, 0.05);
    color: #adadad;
    text-decoration: none;
    margin: 0 auto;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    overflow: hidden;
    span {
      margin-left: 5px;
      font-size: 13px;
    }
  }
}
.app-container{
  .header-container{
    .btn-login{
      border-radius: 5px;
      margin-right: 15px;
      
      padding: 0 15px;
      border: 1px solid #535353;
      background-color: transparent;
      height: 40px;
    }
    .btn-signup{
      border-radius: 5px;
      padding: 0 15px;
      background: black;
      color: white;
      height: 40px;
      &:hover{
        background: #303030;
      }
    }
    .navbar{
      padding-top:20px;
      z-index: 10;
      background-color: rgba(0,0,0,0) !important;
      .navbar-nav{
        .nav-link{
          &.active{
            color:#00bfff ;
          }
        }
      } 
    }
    }
  .homepage-container{
    .homepage-content{
      position: relative;
      padding:100px;
      width: 50%;
      display: flex;
      flex-direction: column;
      gap:30px;
      .title-1{
        font-size: 35px;
        font-weight: 600;
      }
      .title-2{
        font-size: 22px;
      }
      .title-3{
        border-radius: 5px;
        padding: 0 15px;
      background: black;
      color: white;
      height: 40px;
      &:hover{
        background: #303030;
      }
      }
    }
    }
    
}
video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
